@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Lato:wght@300;400&family=Quicksand:wght@400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  margin: 0;
}

nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  transform: translateY(-100vw);
  transition: 1s;
  z-index: -1;
}

nav.open {
  position: fixed;
  transform: none;
  opacity: 1;
  transition: 0.4s;
  z-index: 1;
}

#nav-brand {
  opacity: 0;
}

.navLinks {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
}

.navLinks a {
  color: black;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 1s;
}

.navLinks a:hover {
  color: #5caeff;
}

nav.open a:hover {
  color: white;
}

#menuToggler {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
  font-size: 2em;
  text-align: right;
  line-height: 1em;
  padding: 0 0.8rem;
  cursor: pointer;
  z-index: 2;
}

#menuToggler,
nav {
  background: linear-gradient(
    135deg,
    rgba(92, 174, 255, 1) 0%,
    rgba(105, 111, 221, 1) 100%
  );
}

.bg-img {
  height: 400px;
  width: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(img/bg.jpg);
  background-position: 50% 80%;
  background-size: cover;
}

.bg-content {
  padding-top: 100px;
  text-align: center;
  color: white;
}

.bg-content h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.bg-content p {
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin: 2px 0px 0px 0px;
  padding: 0 10px 0 10px;
}

.promotion {
  background-color: #5caeff;
  text-align: center;
}

.promotion p {
  color: white;
  margin: 0;
  padding: 10px 10px 10px 10px;
}

#our-services {
  background-color: white;
  color: #5caeff;
  border: 2px solid #5caeff;
  font-size: 1em;
  font-family: inherit;
  padding: 1em 1em;
  margin-top: 30px;
  opacity: 1;
}

#our-services:hover {
  transition: 1s;
  border-color: white;
  color: white;
  background-color: #5caeff;
  transform: translateY(-0.2em);
  cursor: pointer;
  transition: 1s;
}

.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  justify-content: center;
}

.off-row1,
.off-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.off {
  display: flex;
  width: 230px;
  height: 230px;
}

.offer-content {
  padding: 25px 20px 25px;
  text-align: center;
}

.offer-content h1 {
  text-transform: uppercase;
}

.offer-content p {
  font-size: 15px;
}

.off i:hover {
  transform: translateY(-0.2em);
  transition: 1s;
}

.what-we-do {
  display: flex;
  justify-content: center;
  background-color: #f7f7ff;
}
.wwd-content {
  width: 800px;
}

.wwd-content h1 {
  font-size: 2rem;
  width: auto;
  color: #5caeff;
  text-align: center;
  text-transform: uppercase;
}

.wwd-content hr {
  width: 100px;
}

.wwd-content p {
  font-size: 16px;
  padding: 20px 20px 40px;
  text-align: center;
}

.testimonial-container {
  display: flex;
  justify-content: center;
}

.slides-ctrl a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.testimonials {
  background-color: #5caeff;
  padding: 2.3rem 1.5rem 2.5rem;
  margin: 3rem 1.5rem;
  border-radius: 8px;
  text-align: center;
}

.testimonials-title {
  text-transform: uppercase;
  margin: 0;
  color: white;
  font-size: 2rem;
}

.testimonial p {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 16px !important;
  line-height: 1.33;
}

.testimonial cite {
  font-style: normal;
  display: block;
  color: white;
  margin-top: 1.5rem;
  font-size: 16px;
}

.slides {
  overflow: hidden;
  padding-bottom: 1rem;
  position: relative;
}

.slide {
  float: left;
  width: 100%;
  margin-right: -100%;
  margin-left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: 0.5s;
}

.slide:first-of-type,
.slide-ctrl:nth-of-type(1):target ~ .slide:nth-of-type(1),
.slide-ctrl:nth-of-type(2):target ~ .slide:nth-of-type(2),
.slide-ctrl:nth-of-type(3):target ~ .slide:nth-of-type(3) {
  opacity: 1;
  pointer-events: auto;
}

.slide-ctrl:target ~ .slide {
  opacity: 0;
  pointer-events: none;
}

.slides-ctrl {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.slide-btn {
  background: white;
  display: inline-block;
  width: 0.83rem;
  height: 0.83rem;
  line-height: 1;
  overflow: hidden;
  margin: 0 0.85rem;
  -webkit-tap-highlight-color: transparent;
  text-indent: 100%;
  border-radius: 999px;
}

.slide-btn:hover,
.slide-btn:focus {
  background: white;
}

.slide-btn:first-of-type,
.slide-ctrl:nth-of-type(1):target ~ .slides-ctrl .slide-btn:nth-of-type(1),
.slide-ctrl:nth-of-type(2):target ~ .slides-ctrl .slide-btn:nth-of-type(2),
.slide-ctrl:nth-of-type(3):target ~ .slides-ctrl .slide-btn:nth-of-type(3) {
  background: #5caeff;
  box-shadow: 0 0 0 4px white;
}

.slide-ctrl:target ~ .slides-ctrl .slide-btn {
  background: #e8f4ff;
  box-shadow: 0 0 0 3px #5caeff;
}

.about-us {
  display: flex;
  justify-content: center;
}

.au-content {
  padding: 10px;
  width: 700px;
}

.au-content h1 {
  text-transform: uppercase;
  text-align: center;
  color: #5caeff;
}

.au-content hr {
  width: 100px;
}

.au-content p {
  text-align: center;
  font-size: 15px;
}

.team-member {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  justify-content: center;
  background-color: #f7f7ff;
}

.team-row-1,
.team-row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tms {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin: 20px 35px;
  align-items: center;
}

.team-a {
  width: 220px;
}

.mt-header h1 {
  text-align: center;
  text-transform: uppercase;
  color: #5caeff;
}

.mt-header hr {
  width: 100px;
}

.mt-content h1 {
  text-align: center;
}
.mt-content h4 {
  text-align: center;
  font-size: 15px;
}

#tm-1 {
  background-image: url(img/profile2.jfif);
  background-size: 220px;
  background-position: 60% 30%;
}

#tm-2 {
  background-image: url(img/profile1.jfif);
  background-size: 200px;
  background-position: 50% 50%;
}
#tm-3 {
  background-image: url(img/profile3.jpg);
  background-size: 160px;
  background-position: 60% 10%;
}
#tm-4 {
  background-image: url(img/profile4.jpg);
  background-size: 150px;
  background-position: 60% 30%;
}

.clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  justify-content: center;
  padding-bottom: 20px;
}

.client-header h1 {
  text-align: center;
  text-transform: uppercase;
  color: #5caeff;
}

.client-header hr {
  width: 100px;
}

.client {
  width: 200px;
}

.cl {
  width: 150px;
  height: 70px;
  margin: 20px 10px;
  align-items: center;
}

.cl:hover {
  transform: translateY(-0.2em);
  transition: 1s;
}

#cl-1 {
  background-image: url(img/fusion.png);
  background-size: 140px;
  background-position: 50% 30%;
}
#cl-2 {
  background-image: url(img/babypips.png);
  background-size: 145px;
  background-position: 50% 50%;
}
#cl-3 {
  background-image: url(img/fxpro.png);
  background-size: 130px;
  background-position: 50% 30%;
}
#cl-4 {
  background-image: url(img/freetrade.png);
  background-size: 150px;
  background-position: 50% 30%;
}

.s-container h2 {
  text-align: center;
  text-transform: uppercase;
  color: #5caeff;
}

.s-container hr {
  width: 100px;
}

.service {
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}

.service {
  width: 300px;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}

.service i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #5caeff;
}

.service h2 {
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.s-container {
  height: auto;
  padding: 0 5%;
}

.s-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0px;
}

/*memberships*/
.membership {
  width: auto;
  height: auto;
  /* background-color: #f7f7ff; */
  background: linear-gradient(
    135deg,
    rgba(92, 174, 255, 1) 0%,
    rgb(255, 255, 255) 100%
  );
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-1,
.card-2,
.card-3 {
  height: 600px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 15px;
  background-color: #fff;
  margin: 30px 10px 30px 10px;
}

.card-1 ul,
.card-2 ul,
.card-3 ul {
  padding: 0px;
  list-style-type: none;
  text-align: center;
  margin: 0px;
  height: 150px;
}

.card-1 ul {
  margin-top: 40px;
}

.card-1 li,
.card-2 li,
.card-3 li {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 15px;
}

.card-1,
.card-2,
.card-3 {
  width: 250px;
  box-shadow: 1px 3px lightblue;
}

.pack-1,
.pack-2,
.pack-3 {
  border: 1px solid rgb(92, 174, 255, 1);
  border-radius: 15px;
  margin: 5px;
  height: 250px;
  padding: 25px;
  opacity: 905;
}

.pack-1-style {
  width: 90px;
  border: 1px solid #5caeff;
  border-radius: 20px;
  background-color: #5caeff;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
  margin: 15px 0px 10px 0px;
  padding: 0px;
  text-align: center;
}

.pack-1-price {
  color: #5caeff;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
}

.pack-2 {
  border: 1px solid #fff;
  background: linear-gradient(
    135deg,
    rgba(92, 174, 255, 1) 0%,
    rgba(105, 111, 221, 0.749) 100%
  );
}

.pack-3 {
  border: 1px solid #fff;
  background: linear-gradient(
    135deg,
    rgba(92, 174, 255, 0.695) 0%,
    rgba(175, 24, 225, 0.526) 100%
  );
}

.pack-2-style {
  width: 150px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #fff;
  color: #5caeff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
  margin: 15px 0px 10px 0px;
  padding: 0px;
  text-align: center;
}

.pack-2-price {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
}

.pack-2-content {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  margin: 0px;
  padding-bottom: 10px;
}

.pack-1-content {
  font-size: 15px;
  font-weight: 400;
  color: black;
  margin: 0px;
  padding-bottom: 10px;
}

.pack-3-style {
  width: 80px;
  border: 1px solid #fff;
  border-radius: 20px;
  background-color: #fff;
  color: #5caeff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
  margin: 15px 0px 10px 0px;
  padding: 0px;
  text-align: center;
}

.pack-3-content {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  margin: 0px;
  padding-bottom: 10px;
}

.pack-3-price {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  padding-bottom: 20px;
}

.benefits {
  padding-top: 10px;
  font-size: 17px;
  margin: 0px;
  font-weight: 500;
}

.benefits-content {
  font-size: 15px;
  margin-top: 5px;
}

.benefits,
.benefits-content {
  padding-left: 20px;
  opacity: 80%;
}

.card-btn-1,
.card-btn-2,
.card-btn-3 {
  width: 200px;
  height: 40px;
  background-color: #5caeff;
  color: #fff;
  border: 1px solid #5caeff;
  border-radius: 30px;
  opacity: 85%;
  font-weight: 400;
  font-size: 15px;
  margin-left: 25px;
  font-family: inherit;
}

.card-btn-1:hover,
.card-btn-2:hover,
.card-btn-3:hover {
  opacity: 100%;
  cursor: pointer;
}

.card-btn-1 {
  margin-top: 12px;
}

.card-btn-2 {
  margin-top: 13px;
}

.card-btn-3 {
  margin-top: 13px;
}

.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
    135deg,
    rgba(92, 174, 255, 1) 0%,
    rgba(105, 111, 221, 1) 100%
  );
  color: #fff;
}

.d-store {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

#apps-1 {
  width: 150px;
  height: 50px;
  background-image: url(img/appstore.png);
  background-size: 150px;
  background-position: 0% 96%;
  transition: 1s;
}

#apps-2 {
  width: 150px;
  height: 50px;
  background-image: url(img/appstore.png);
  background-size: 150px;
  background-position: 0% 0%;
  transition: 1s;
}

.apps:hover {
  transform: scale(1.1);
}

/*search*/
.container {
  display: flex;
}

.row {
  justify-content: center;
}

.col {
  text-align: center;
}

.d-flex {
  padding-bottom: 1rem;
}

.form-control {
  width: 200px;
}

.alert {
  font-size: 15px;
}

.results p {
  padding: 0 10px;
  font-size: 15px;
}

.free-lesson {
  display: flex;
  justify-content: center;
}

.fl-content {
  padding: 10px;
  width: 700px;
}

.fl-content h1 {
  text-transform: uppercase;
  text-align: center;
  color: #5caeff;
}

.fl-content hr {
  width: 100px;
}

.fl-content p {
  text-align: center;
  font-size: 15px;
}

footer {
  height: 110px;
  background-color: #5caeff;
  color: white;
}

.f-social {
  padding-top: 10px;
  text-align: center;
}

.f-social a {
  padding: 0px 10px 0px;
}

footer p {
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  margin: 10px 0px 0px;
  padding-bottom: 10px;
}

footer a {
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  color: white;
  transition: 1s;
}

footer a:hover {
  opacity: 0.5;
}

footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  padding-top: 10px;
}

footer li {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0px 10px 0px;
}

/*media queries*/
@media screen and (min-width: 600px) {
  #menuToggler {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    transform: none;
    opacity: 1;
    height: auto;
    position: static;
    transition: 1s;
  }
  #nav-brand {
    opacity: 1;
    font-weight: 600;
    font-size: 1.25em;
    padding-left: 20px;
    margin-right: 20px;
    color: black;
    text-decoration: none;
  }

  #nav-brand:hover {
    color: grey;
  }

  .navLinks {
    display: flex;
    flex-direction: row;
  }

  .navLinks a {
    font-size: 0.85em;
    padding: 0.3rem;
  }

  #menuToggler,
  nav {
    background: white;
  }

  #our-services {
    opacity: 1;
  }

  .container {
    padding: 0 2rem;
  }

  .testimonials {
    width: 900px;
    padding: 4rem 0 2rem;
  }
  .testimonials p {
    font-size: 1.1rem;
  }

  .cards .card.active {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 920px) {
  .offers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    justify-content: center;
  }

  .off {
    display: flex;
    justify-content: center;
    width: 230px;
    height: 230px;
  }

  .offer-content {
    padding: 25px 20px 25px;
    text-align: center;
  }

  .offer-content h1 {
    text-transform: uppercase;
  }

  .offer-content p {
    font-size: 15px;
  }

  .off i:hover {
    transform: translateY(-0.2em);
    transition: 1s;
  }
}

@media screen and (min-width: 880px) {
  .team-member {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    justify-content: center;
    padding-bottom: 20px;
    background-color: #f7f7ff;
  }

  .tms {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 20px 35px;
    align-items: center;
  }
}

@media screen and (max-width: 560px) {
  .card-1,
  .card-2,
  .card-3 {
    height: 600px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 15px;
    background-color: #fff;
    margin: 10px 10px;
  }
}

@media screen and (max-width: 850px) {
  .card-3 {
    width: 520px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 560px) {
  .card-3 {
    width: 250px;
    margin-top: 10px;
  }
}
